
<h1>Login to EA Servers</h1>
<%= form_for(@login) do |f| %>
  <p>
  <%= f.label :username %>
  <%= f.text_field :username %>
  </p>

  <p>
  <%= f.label :email %>
  <%= f.text_field :email %>
  </p>

  <p>
  <%= f.label :password %>
  <%= f.password_field :password %>
  </p>

  <%= f.submit 'Submit' %>
<% end %>
