<p>Found <%= cards.length %> results </p>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>POS</th>
    <th>Style</th>
    <th>GP</th>
    <th>CardId</th>
    <th>Actions</th>
  </tr>
  <% cards.each do |card| %>
    <tr >
      <td><%= card.name %></td>
      <td><%= card.player_type.name %></td>
      <td><%= card.position.name %></td>
      <td><%= card.style.name %></td>
      <td><%= card.games_played %></td>
      <td><%= card.card_id %></td>
      <td>
        <p><%= link_to 'List', new_list_card_path(:card_id => card.card_id), :data => {:confirm => "Are you sure you want to list #{card.name}?"} %></p>
      </td>
    </tr>

  <% end %>
</table>

