
<p>Found <%= cards.length %> results </p>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>BIN</th>
    <th>Start</th>
    <th>Current Bid</th>
    <th>Type</th>
    <th>POS</th>
    <th>Style</th>
    <th>Time</th>
    <th>Seller</th>
    <th>Offers</th>
    <th>Actions</th>
  </tr>
  <% cards.each do |card| %>
    <tr class="<%= 'success' if card.buy_it_now == 0 %>">
      <td><%= card.name %></td>
      <td><%= number_with_delimiter(card.bin, :delimiter => ',') %></td>
      <td><%= number_with_delimiter(card.start_price, :delimiter => ',') %></td>
      <td><%= number_with_delimiter(card.bid, :delimiter => ',') %></td>
      <td><%= card.player_type.name %></td>
      <td><%= card.position.name %></td>
      <td><%= card.style.name %></td>
      <td><%= humanize card.time_remaining %></td>
      <td><%= card.seller %></td>
      <td><%= card.offers_pending %></td>
      <td>
        <%= link_to 'BIN', bid_show_path(:trade_id => card.trade_id, :amount => card.bin), :data => {:confirm => "Are you sure you want to bin for #{card.bin}?"} %>
      </td>
    </tr>

  <% end %>
</table>
