
<p>Found <%= trades.length %> results </p>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>OVR</th>
    <th>Buy At</th>
    <th>BIN</th>
    <th>Start</th>
    <th>Current Bid</th>
    <th>AutoBid</th>
    <th>MyBid</th>
    <th>POS</th>
    <th>Style</th>
    <th>Time</th>
    <th>Seller</th>
    <th>TradeId</th>
    <th>Actions</th>
  </tr>
  <% trades.each do |trade| %>
    <tr class="<%= 'success' if trade.buy_it_now == 0 %>">
      <td>
        <% if trade.ea_card %>
           <%= trade.ea_card.name %>
        <% else %>
           <%= trade.card.name %>
        <%end %>
      </td>
      <td>
        <% if trade.ea_card %>
          <%= link_to trade.ea_card.player_type.name, edit_ea_card_path(trade.ea_card) %>
        <% else %>
          <%= link_to 'Create', new_ea_card_path(:ea_card => {:card_db_id => trade.card.card_db_id}) %>
        <% end %>
      </td>
      <td><%= trade.card.overall %></td>
      <td>
        <% if trade.ea_card %>
           <%= number_with_delimiter(trade.ea_card.auto_buy_at, :delimiter => ',') %>
        <% else %>
           N/A
        <% end %>
      </td>
      <td><%= number_with_delimiter(trade.bin, :delimiter => ',') %></td>
      <td><%= number_with_delimiter(trade.start_price, :delimiter => ',') %></td>
      <td class="<%= 'success' if trade.should_bid? %>"><%= number_with_delimiter(trade.bid, :delimiter => ',') %></td>
      <td>
        <% if trade.auto_bid %>
          <%= number_with_delimiter(trade.auto_bid.max_bid, :delimiter => ',') %>
          <%= link_to 'Edit', edit_auto_bid_path(trade.auto_bid) %>
          <%= link_to 'Destroy', trade.auto_bid, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          <%= link_to 'Create', new_auto_bid_path(:auto_bid => {:trade_id => trade.trade_id}) %>
        <% end %>
      </td>
      <td><%= trade.bid_state %></td>
      <td><%= trade.card.position.name %></td>
      <td><%= trade.card.style.name %></td>
      <td><%= humanize trade.time_remaining %></td>
      <td><%= trade.seller %></td>
      <td><%= trade.trade_id %></td>
      <td>
        <%= link_to 'BIN', bid_show_path(:trade_id => trade.trade_id, :amount => trade.bin), :data => {:confirm => "Are you sure you want to bin for #{trade.bin}?"} %>
        <% if trade.is_watched %>
          <%= link_to 'Unwatch', "/unwatch/#{trade.trade_id}", :data => {:confirm => "Are you sure you want to unwatch #{trade.card.name}?"} %>
        <% else %>
          <%= link_to 'Watch', "/watch/#{trade.trade_id}", :data => {:confirm => "Are you sure you want to watch #{trade.card.name}?"} %>
        <% end %>
  
      </td>
    </tr>

  <% end %>
</table>
