
<p>Found <%= trades.length %> results </p>
<table class="table table-condensed">
  <tr>
    <th>Name</th>
    <th>BIN</th>
    <th>Start</th>
    <th>Current Bid</th>
    <th>Type</th>
    <th>POS</th>
    <th>Style</th>
    <th>Time</th>
    <th>Seller</th>
    <th>Offers</th>
    <th>State</th>
    <th>Id</th>
    <th>Actions</th>
  </tr>
  <% trades.each do |trade| %>
    <tr class="<%= 'success' if trade.buy_it_now == 0 %>">
      <td><%= trade.card.name %></td>
      <td><%= number_with_delimiter(trade.bin, :delimiter => ',') %></td>
      <td><%= number_with_delimiter(trade.start_price, :delimiter => ',') %></td>
      <td><%= number_with_delimiter(trade.bid, :delimiter => ',') %></td>
      <td><%= trade.card.player_type.name %></td>
      <td><%= trade.card.position.name %></td>
      <td><%= trade.card.style.name %></td>
      <td><%= humanize trade.time_remaining %></td>
      <td><%= trade.seller %></td>
      <td><%= trade.offers_pending %></td>
      <td><%= trade.trade_state %></td>
      <td><%= trade.trade_id %></td>
      <td>
        <% if trade.trade_state == 'Expired' %>
          <%= link_to 'List', new_list_card_path(:card_id => trade.card.card_id), :data => {:confirm => "Are you sure you want to list #{trade.card.name}?"} %>
          <%= link_to 'Relist 1hr', list_card_path(:id => 0, :list_card => {:card_id => trade.card.card_id, :reserve => trade.start_price, :bin => trade.bin, :time => 1.hour.to_i}), {:data => {:confirm => "Are you sure you want to relist for 1hr #{trade.card.name}?"}, :method => :put} %>
          <%= link_to '3hr', list_card_path(:id => 0, :list_card => {:card_id => trade.card.card_id, :reserve => trade.start_price, :bin => trade.bin, :time => 3.hour.to_i}), {:data => {:confirm => "Are you sure you want to relist for 3hr #{trade.card.name}?"}, :method => :put} %>
          <%= link_to '6hr', list_card_path(:id => 0, :list_card => {:card_id => trade.card.card_id, :reserve => trade.start_price, :bin => trade.bin, :time => 6.hour.to_i}), {:data => {:confirm => "Are you sure you want to relist for 6hr #{trade.card.name}?"}, :method => :put} %>
          <%= link_to '12hr', list_card_path(:id => 0, :list_card => {:card_id => trade.card.card_id, :reserve => trade.start_price, :bin => trade.bin, :time => 12.hour.to_i}), {:data => {:confirm => "Are you sure you want to relist for 12hr #{trade.card.name}?"}, :method => :put} %>
          <%= link_to '24hr', list_card_path(:id => 0, :list_card => {:card_id => trade.card.card_id, :reserve => trade.start_price, :bin => trade.bin, :time => 24.hour.to_i}), {:data => {:confirm => "Are you sure you want to 24hr #{trade.card.name}?"}, :method => :put} %>
        <% end %>
  
      </td>
    </tr>

  <% end %>
</table>
